
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




/* shared styles*/

.display-flex{

  display: flex;
  margin: 0 auto;
}


.btn-primary{

background-color: #FF900E;
color: white;
padding: 20px 25px;
font-size: 1.25rem;
font-weight: 600;
border-radius: 8px;
border: 0;

}



main{

  max-width: 1440px;
}



main > section{

margin-top: 130px;
}



.section-tiitle{


  font-size: 2.8rem;

  font-weight: 700;
}


/*dark02*/

.text-gray{

  color:#4242;
}



.Features{




  color: #FF900E;
}



/*dark03*/

.text-light-gray{

color:#727272 ;


}



.nav-item{

  list-style: none;
  margin-right: 30px;


}

.nav-link{


  direction: none;
  font-weight: 500;
}

.navbar{

  justify-content: space-between;
  align-items: center;
}

.brand{



  font-weight:700 ;
  font-size: 3rem;
}


.bg-light{



  background-color: rgba(255, 144, 14, 0.1);
}

.navbar, .banner{



  max-width: 1440px;
  margin: 0 auto;
}


/* bannder related styles*/

.banner-content{

max-width: 850px;
margin: 0 auto;
text-align: center;
margin-bottom: 50px;
}

.banner-title{


  font-weight: 700;

font-size: 4rem;
}


.img-banner{


  width: 100%;
}





/* team and feature related style */

.teams{

display: flex;
align-items: center;
margin-top: 35px;
  
}



.team-img-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 24px;
max-width: 700px;
height: auto;



}



.our-features{


margin-left: 130px;
max-width: 530px;


}


#Quick-list{

font-weight: 500;






}




/* ===== Fact section design ===== */

/* container */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  max-width: 1100px;
  margin: 80px auto;
  justify-items: center;
}

/* card */
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
  background-color: #fff;
}



/* hover effect */
.fact-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* icon */
.fact-icon{
  width: 45px;
  margin-bottom: 12px;
}

/* number */
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin: 10px 0;
}

/* name */
.fact-name{
  font-size: 1.1rem;
  font-weight: 500;
  color: #727272;
}


.fact-discription{



  max-width: 540px;
}


/* responsive media query*/



  @media screen and (max-width:576px){


.navbar, 
.nav-link,
.teams{



  flex-direction: column;
}

.team-img-container{

  grid-template-columns: repeat(1,1fr);
}

.our-features{


  margin-left: 20px;
}
  
}


/*medium seize device*/



@media screen  and (min-width:577px)  and (max-width:992px){

  .teams{


    flex-direction: column;
  }

  .our-features{


  margin: 50px auto;
}
  
}